body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:900px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:818px;
  width:42px;
  height:50px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:288px;
  background:inherit;
  background-color:rgba(30, 216, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:288px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:818px;
  width:53px;
  height:50px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:818px;
  width:63px;
  height:50px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:3px;
  width:97px;
  height:43px;
  font-size:20px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:15px;
  width:36px;
  height:20px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:15px;
  width:24px;
  height:20px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:15px;
  width:28px;
  height:20px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:861px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:861px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:861px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:861px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:861px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:507px;
  height:5px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:806px;
  width:504px;
  height:2px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:818px;
  width:43px;
  height:50px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:45px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:821px;
  width:37px;
  height:45px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:818px;
  width:47px;
  height:50px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:584px;
  width:22px;
  height:32px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:58px;
  width:36px;
  height:35px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:35px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:393px;
  width:53px;
  height:35px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:530px;
  width:33px;
  height:33px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:4px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:374px;
  width:1291px;
  height:4px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:1px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:378px;
  width:1088px;
  height:1px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:393px;
  width:50px;
  height:39px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:499px;
  width:520px;
  height:2px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:1px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:501px;
  width:520px;
  height:1px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:502px;
  width:520px;
  height:2px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:388px;
  width:50px;
  height:43px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:390px;
  width:49px;
  height:40px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:329px;
  width:127px;
  height:63px;
  font-size:20px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:123px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:103px;
  width:76px;
  height:76px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:114px;
  width:96px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:46px;
  width:100px;
  height:52px;
  font-size:30px;
  color:#FFFFFF;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u692 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:189px;
  width:378px;
  height:123px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:354px;
  width:9px;
  height:14px;
  color:#CCCCCC;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:348px;
  width:79px;
  height:26px;
  font-size:15px;
  color:#666666;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:53px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:211px;
  width:45px;
  height:53px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:264px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:214px;
  width:48px;
  height:48px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:264px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:424px;
  width:82px;
  height:38px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:424px;
  width:82px;
  height:38px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:424px;
  width:82px;
  height:38px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:424px;
  width:82px;
  height:38px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:29px;
  background:inherit;
  background-color:rgba(147, 237, 199, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:346px;
  width:14px;
  height:29px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:54px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:211px;
  width:50px;
  height:54px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:264px;
  width:82px;
  height:38px;
  font-size:14px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:489px;
  width:34px;
  height:24px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:457px;
  height:5px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:465px;
  width:454px;
  height:2px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:482px;
  width:82px;
  height:38px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:530px;
  width:82px;
  height:38px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:578px;
  width:82px;
  height:38px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:494px;
  width:12px;
  height:19px;
  color:#CCCCCC;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:540px;
  width:12px;
  height:19px;
  color:#CCCCCC;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:588px;
  width:12px;
  height:19px;
  color:#CCCCCC;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
